## ignore all config
.config/*
plugged/**/

## select specific config
!bspwm/
!sxhkd/
!cava/config
!dunst/
!htop/
!kitty/
!picom/
!polybar/
!rofi/
!slop/
!ranger/
!btop/
!bat/
!zathura/
!ranger/
!nvim/
!fastfetch/